body{
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fff5eb, #deedf0, #f4c7ab);
  
  }
  
  main-div{
    width: 500px;
    position: absolute;
    top: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    padding: 20;
    border: 10 solid black;
   /* box-shadow: ;*/
  
  }